[user]
	name = Pieter
	email = pieter@tuxie.com
[alias]
  st = status -s
[core]                                                                                                                        
  filemode = false
[push]
  default = simple
